<main class="main">
    <h1>Carrito</h1>
    <section class="cartContainer">
        <div class="cart" *ngFor="let item of cart">
            <img src="{{item.img}}" alt="">
            <div class="desc">
                <h3>{{item.name}} {{item.desc}}</h3>
                <h4>Precio: ${{item.price}}</h4>
                <h4>Cantidad:
                    <select [(ngModel)]="item.selectedQuantity" (change)="onSelectChange(item)">
                        <option *ngFor="let i of getProductQuantityOptions(item)" [value]="i">{{ i }}</option>
                    </select>
                </h4>
                <h4>Total: ${{item.price * item.selectedQuantity}} </h4>
            </div>
        </div>
    </section>
    <h3 class="empty" *ngIf="cart.length == 0">Tu carrito está vacio</h3>
    <section class="buttons">
        <button class="cartBtn" id="checkout-btn" *ngIf="cart.length > 0 && btnActive"
            (click)="purchase()">Comprar</button>
        <i title="Vaciar Carrito" *ngIf="cart.length > 0 && btnActive" (click)="cleanCart()"
            class="fa-solid fa-trash"></i>
        <span class="loader" *ngIf="btnLoader"></span>
        <div class="checkContainer">
            <div id="button-checkout"></div>
        </div>
    </section>
</main>