<main class="main">
    <section class="checkMenu">
        <ul class="category">Categorias
            <li *ngFor="let item of categorys">
                <input [(ngModel)]="expansionChecked[item.expansion]" (change)="updateCheckboxState()" class="checkExp"
                    type="checkbox">
                {{ item.expansion }}
            </li>
        </ul>
        <ul class="type">Tipo
            <li *ngFor="let item of types">
                <input [(ngModel)]="typeChecked[item.type]" (change)="updateCheckboxState()" class="checkType"
                    type="checkbox">
                {{ item.type }}
            </li>
        </ul>
    </section>
    <section class="cardList">
        <h2>Listado de cartas</h2>
        <div class="cardContainer">
            <div class="card" *ngFor="let card of filterCards">
                <img class="cardP" src="{{card.img}}" alt="pokemon.jpg">
                <h4 class="cardDesc">{{card.name}} {{card.desc}}</h4>
                <p class="cardPrice">${{card.price}}</p>

                <button class="cardBtn" [disabled]="card.stock == 0" (click)="addToCart(card)">{{ card.stock == 0 ?
                    'Sin Stock' : 'Agregar al carrito'}}</button>
            </div>

        </div>
    </section>
</main>
