.main {
    background-color: #fbfafb;
    display: flex;
    height: calc(100vh - 100px);
    margin-left: 240px;
    margin-right: 240px;
    width: 1440px;
    padding-top: 40px;
    padding-left: 200px;
    padding-right: 200px;
    flex-direction: column;
    font-family: var(--font3);
    position: relative;
    z-index: -2;

    .divContainer {
        position: absolute;
        display: flex;
        bottom: 80px;
        left: 120px;
    }

    h1 {
        text-align: center;
        margin: 100px auto;
        width: 480px;
        font-size: 60px;
        font-family: var(--font1);
    }

    .kirlia {
        width: 400px;
    }

    .divDetail {
        font-size: 18px;

        h4 {
            font-weight: 500;
        }
    }

    button {
        width: 80px;
    }

    .buttons {
        margin-left: auto;
        display: flex;
        align-items: center;
    }

    i {
        margin-right: 30px;
        font-size: 30px;
        color: #f18eb49a;
        cursor: pointer;
        padding: 4px;
        border-radius: 4px;
    }

    i:hover {
        font-size: 26px;
        padding: 5px;

    }

    .cartBtn {
        width: 230px;
        height: 38px;
        border-radius: 3px;
        cursor: pointer;
        background-color: #f18eb467;
        border: 2px solid #f18eb4;
        outline: none;
        transition: .15s ease-in-out;
        font-weight: 600;
        margin-left: auto;
    }

    .cartBtn:hover {
        transition: .2s ease-in-out;
        background: #f18eb4e7;
    }

    .cartBtn:active {
        transition: .2s ease-in-out;
        background: #f18eb4e7;
        font-size: 12px;
    }
}