<main class="main">
    <section class="cardMargin">
        <div class="cardBack">
            <div class="titleContainer">
                <div class="titleCard">Kirlia</div>
                <span class="cardPS">
                    ps
                    <span class="psNumber"> 80 </span>
                </span>
                <img class="psychic" src="assets/img/psychic.png" alt="" />
            </div>
            <div class="divImg">
                <div>
                    <span class="phase">FASE 1</span>
                    <img class="ralts" src="assets/img/ralts.png" alt="" />
                </div>
                <img class="kirlia" src="assets/img/kirlia_art.jpg" alt="" />
                <span class="pokeDescript">N.° 281 Pokémon Sensorio Altura: 0,8 m Peso: 20,2 kg</span>
            </div>
            <div class="skillContainer">
                <div class="skill">
                    <div>
                        <img class="psychicSkill" src="assets/img/psychic.png" alt="">
                        <span class="skillName" (click)="toStore()">Ir a la tienda</span>
                    </div>
                    <p class="skillText">Con esta habilidad puedes entrar directo a la tienda y ver los mejores
                        precios.
                    </p>
                </div>
                <div class="skill">
                    <div>
                        <img class="psychicSkill" src="assets/img/psychic.png" alt="">
                        <span class="skillName">Iniciar sesión</span>
                    </div>
                    <p class="skillText">Lanza una moneda y si sale cruz, debes registrarte y luego iniciar sesión.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <aside class="leftMain">
        <div class="top">
            <span>
                ¡Bienvenidos!
            </span>
        </div>
        <div class="bottom">
            <span>
                ¡En Instagram podes enterarte de todas nuestras novedades!
            </span>
            <div>
                <img class="insta" src="assets/img/insta.png">
            </div>
        </div>
    </aside>
  
    <section></section>
</main>