/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    --font1: 'Roboto Flex', sans-serif;
    --font2: 'Kanit', sans-serif;
    --font3: 'Lato', sans-serif;
    @import "primeng/resources/themes/lara-light-blue/theme.css";
    @import "primeng/resources/primeng.css";
}

html {
    height: 100vh;
}

body {
    width: fit-content;
    background: repeating-linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(130, 198, 156, 1) 10%, rgba(255, 255, 255, 1) 20%, rgba(130, 198, 156, 1) 30%, rgba(255, 255, 255, 1) 40%, rgba(130, 198, 156, 1) 50%, rgba(255, 255, 255, 1) 60%, rgba(130, 198, 156, 1) 70%, rgba(255, 255, 255, 1) 80%, rgba(130, 198, 156, 1) 90%, rgba(0, 0, 0, 1) 100%);
    background-image: url('assets/img/snorlax.jpg');
    background-size: cover;
}